body{
    margin: 0 auto;
    padding: 0;
    
}

#coverpage{
    background-image: url(img/coverpageIMG2.jpg);/*Imagen con enfoque*/
    background-attachment: fixed;
    background-size: cover;
    max-width: 100%;
    height: 100vh;
    z-index: 0;
    opacity: 0.7;
    
}

#arrow{
   bottom: 0;
   position:absolute;
   margin: auto;
   display:flex;
}

#hello{
    margin: 0 auto;
    margin-top: 12%;
}

#hello, #iAm{
    font-size: 45px;
    font-family: "lato", sans-serif;
    color: #fcfcfc;
    text-align: center;
}

#iAm{
    font-size: 40px;
}

#more{
    width: 64px;
    height: 64px;
}

.navbar{
    float: right;
    margin-right: 0.5rem;
}

.navbar-wrapper{
    background-color: #ede6ee;
}

ul#nav-mobile li{
    list-style: none;
    font-size: 20px;
    font-family: 'lato', sans-serif;
    padding: 1rem;
   display: inline-block;
    position: relative;
    z-index: 1;
}

ul#nav-mobile li a{
    text-decoration: none;
    color:white;
}

#about-me-menu:hover, #proyect-menu:hover, #tech-menu:hover, #contact-menu:hover,
#home-menu:hover{
    color:#212121;
}

#proyects, #tech-skills, #contactPage{
    padding: 50px;
    max-width: 100%;
    height: 100vh;
}

#about-me{
    max-width: 100%;
    height: 100vh;
    background-color:#212121; 
    background-size: cover;
}

#tech-skills{
    background-color:#ffa726;
}

#proyects{
    background-color: #c5c3c1;
}

#contactPage{
    background-color: #212121;
    color:white;
}

#aboutMe,#skills, #proyect{
    text-align: center;
    font-size: 20px;
    top:0;
    margin:0;
    color:#212121
}

#text-me{
    text-align: center;
    font-size: 30px;
    color:#FCFCFC;
    font-family: "Lato", sans-serif;
    margin-top: 25%;
}

 #myphoto{
    width: 60%;
    height: 70%;
    margin-left: 5%;
    position: sticky;
    margin-top: 1.5%;

}  

#tech-logos{
    text-align: center;
    font-size: 100px;
    margin-top:13%;
}

.card{
    width: 380px;
    height: 280px;
    border-radius: 20%;
}

.activator{
   height: 200px; 
}

#cardsProyect{
    text-align: center;
    margin: 0 auto;
    display: flex;
    margin-left: 10%;
}

#talk{
  font-size: 35px;
  color: #ffa726;
}

.email{
  color: white;
  font-size: 30px;
  padding-top: 20px;
}

.email:hover{
  color: #ffa726;
  
}

#textContact{
  margin-top: 8%;
  font-size: 25px;
  font-family: "lato", sans-serif;
}
#follow-me{
  color: #a56c17;
  font-size: 20px; 
  margin-top: 8%;
}

#logosContact{
  display: inline;
  margin:10px;
}

#linkedin, #github{
  margin-top:3%;
  margin: 10px;
}

#follow{
  margin-top: 10%;
}

#content-img{
  display: flex;
}
#contact-img{
  justify-content: center;
  margin: 0 auto;
  opacity: 0.3;
  max-width: 100%;
  margin-top: 10%;
  border-radius:5px;
}

/* #menuFooter li a{
  display: inline !important;
  color: white;
  list-style: none;
  font-size: 20px;
  font-family: 'lato', sans-serif;
  padding: 0.5rem;
  
}

#home-footer:hover, #about-me-footer:hover,#proyect-footer:hover,#tech-footer:hover{
  color:#ffa726;
}

#titleMenu{
  font-size: 25px;
  color: white;
  text-align: center;
}

#return{
  margin-top: 10%;
} */

.puff-in-center {
	-webkit-animation: puff-in-center 1.5s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
	        animation: puff-in-center 1.5s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
}

@-webkit-keyframes puff-in-center {
    0% {
      -webkit-transform: scale(2);
              transform: scale(2);
      -webkit-filter: blur(2px);
              filter: blur(2px);
      opacity: 0;
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
  }
  @keyframes puff-in-center {
    0% {
      -webkit-transform: scale(2);
              transform: scale(2);
      -webkit-filter: blur(2px);
              filter: blur(2px);
      opacity: 0;
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
  }
  

@keyframes cambio {
    0% {margin-left: 0;}
    20% {margin-left: 0;}
    
    25% {margin-left: -100%;}
    45% {margin-left: -100%;}
    
    50% {margin-left: -200%;}
    70% {margin-left: -200%;}
    
    75% {margin-left: -300%;}
    100% {margin-left: -300%;}
}

.tracking-in-expand-fwd-top {
	-webkit-animation: tracking-in-expand-fwd-top 1.2s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	        animation: tracking-in-expand-fwd-top 1.2s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

@-webkit-keyframes tracking-in-expand-fwd-top {
    0% {
      letter-spacing: -0.5em;
      -webkit-transform: translateZ(-700px) translateY(-500px);
              transform: translateZ(-700px) translateY(-500px);
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      -webkit-transform: translateZ(0) translateY(0);
              transform: translateZ(0) translateY(0);
      opacity: 1;
    }
  }
  @keyframes tracking-in-expand-fwd-top {
    0% {
      letter-spacing: -0.5em;
      -webkit-transform: translateZ(-700px) translateY(-500px);
              transform: translateZ(-700px) translateY(-500px);
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      -webkit-transform: translateZ(0) translateY(0);
              transform: translateZ(0) translateY(0);
      opacity: 1;
    }
  }

  .tracking-in-expand-fwd-bottom {
	-webkit-animation: tracking-in-expand-fwd-bottom 1.2s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	        animation: tracking-in-expand-fwd-bottom 1.2s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

@-webkit-keyframes tracking-in-expand-fwd-bottom {
    0% {
      letter-spacing: -0.5em;
      -webkit-transform: translateZ(-700px) translateY(500px);
              transform: translateZ(-700px) translateY(500px);
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      -webkit-transform: translateZ(0) translateY(0);
              transform: translateZ(0) translateY(0);
      opacity: 1;
    }
  }
  @keyframes tracking-in-expand-fwd-bottom {
    0% {
      letter-spacing: -0.5em;
      -webkit-transform: translateZ(-700px) translateY(500px);
              transform: translateZ(-700px) translateY(500px);
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      -webkit-transform: translateZ(0) translateY(0);
              transform: translateZ(0) translateY(0);
      opacity: 1;
    }
  }

  .swirl-in-fwd {
	-webkit-animation: swirl-in-fwd 1s ease-out both;
	        animation: swirl-in-fwd 1s ease-out both;
}

@-webkit-keyframes swirl-in-fwd {
    0% {
      -webkit-transform: rotate(-540deg) scale(0);
              transform: rotate(-540deg) scale(0);
      opacity: 0;
    }
    100% {
      -webkit-transform: rotate(0) scale(1);
              transform: rotate(0) scale(1);
      opacity: 1;
    }
  }
  @keyframes swirl-in-fwd {
    0% {
      -webkit-transform: rotate(-540deg) scale(0);
              transform: rotate(-540deg) scale(0);
      opacity: 0;
    }
    100% {
      -webkit-transform: rotate(0) scale(1);
              transform: rotate(0) scale(1);
      opacity: 1;
    }
  }
  
  
  



@media (min-width: 350px) and (max-width: 600px){
   

    
    
    
    }

@media only screen and (min-width: 993px){
        .container{
            width: 100% !important;
        }
        
        } 

        @media only screen and (min-width: 601px){
        .container {
            width: 100%;
        }
    }